<!--==================== Preloader Start ====================-->
<div class="preloader">
    <div class="loader"></div>
</div>
<!--==================== Preloader End ====================-->

<!--==================== Overlay Start ====================-->
<div class="overlay"></div>
<!--==================== Overlay End ====================-->

<!--==================== Sidebar Overlay End ====================-->
<div class="side-overlay"></div>
<!--==================== Sidebar Overlay End ====================-->

<!-- ==================== Scroll to Top End Here ==================== -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<!-- ==================== Scroll to Top End Here ==================== -->

<!-- ==================== Mobile Menu Start Here ==================== -->
<div class="mobile-menu d-lg-none d-block">
    <button type="button" class="close-button"> <i class="las la-times"></i> </button>
    <div class="mobile-menu__inner">
        <a title="AVONOVA" href="{{ url('app_index') }}" class="mobile-menu__logo">
            <img src="https://images.prismic.io/avonova/Zfr-rwmzsfHOGI25_LOGODE%CC%81FINITIFAVONOVA-200x200px-.png?auto=format,compress" alt="Logo">
        </a>
        <div class="mobile-menu__menu">

            <ul class="nav-menu flx-align nav-menu--mobile">
                <li class="nav-menu__item">
                    <a title="AVONOVA" href="{{ url('app_index') }}" class="nav-menu__link">Accueil</a>
                </li>
                <li class="nav-menu__item">
                    <a title="Faq" href="{{ url('app_faq') }}" class="nav-menu__link">FAQ</a>
                </li>
                <li class="nav-menu__item">
                    <a title="Contact" href="{{ url('app_contact') }}" class="nav-menu__link">Contact</a>
                </li>
                <li class="nav-menu__item">
                    <a title="Home" href="https://avonova.freshdesk.com/support/home" target="_blank" class="nav-menu__link">Support et Suivi</a>
                </li>
            </ul>
            <a title="Myqo Av" href="https://tally.so/r/mYQOAv" target="_blank" class="btn btn-outline-light d-lg-none d-block mt-4">Confiez nous un bien<span class="icon-right text-gradient"> <i class="fas fa-arrow-right"></i> </span> </a>
        </div>
    </div>
</div>
<!-- ==================== Mobile Menu End Here ==================== -->


<!-- ==================== Right Offcanvas Start Here ==================== -->
<div class="common-offcanvas d-lg-block d-none">
    <div class="flx-between">
        <a title="AVONOVA" href="{{ url('app_index') }}" class="mobile-menu__logo">
            <img src="https://images.prismic.io/avonova/Zfr-LQmzsfHOGI2k_LOGODE%CC%81FINITIFAVONOVA-1-.png?auto=format,compress" loading="lazy" alt="Logo">
        </a>
        <button type="button" class="close-button d-flex position-relative top-0 end-0"> <i class="las la-times"></i> </button>
    </div>

    <ul class="address-list mt-5">
        <li class="address-list__item flx-align">
            <span class="address-list__icon"><i class="fas fa-map-marker-alt"></i></span>
            <div class="address-list__content">
                <p class="address-list__text">6 rue d’Armaillé, <br> 75017 Paris</p>
            </div>
        </li>
        <li class="address-list__item flx-align">
            <span class="address-list__icon"> <i class="fas fa-phone"></i></span>
            <div class="address-list__content">
                <a title="01 89 70 85 15" href="tel:01 89 70 85 15" class="address-list__text">01 89 70 85 15</a>
            </div>
        </li>
        <li class="address-list__item flx-align">
            <span class="address-list__icon"> <i class="fas fa-envelope"></i></span>
            <div class="address-list__content">
                <a title="contact@avonova.fr" href="mailto:contact@avonova.fr" class="address-list__text"> contact@avonova.fr</a>
            </div>
        </li>
    </ul>

    <div class="google-map mt-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.988997043853!2d2.2895651771344783!3d48.87748629936164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66f92d2a43caf%3A0x916c93ae06a62893!2s6%20Rue%20d&#39;Armaill%C3%A9!5e0!3m2!1sfr!2sfr!4v1710928062182!5m2!1sfr!2sfr" loading="lazy" class="w-100 h-100"></iframe>
    </div>

    <ul class="social-list">
        <li class="social-list__item"><a title="Avonova.immobilier" href="https://www.facebook.com/avonova.immobilier" target="_blank" class="social-list__link flx-center"><i class="fab fa-facebook-f"></i></a> </li>
        <li class="social-list__item"><a title="Avonova Immobilier" href="https://www.linkedin.com/company/avonova-immobilier" target="_blank" class="social-list__link flx-center"> <i class="fab fa-linkedin-in"></i></a></li>
    </ul>

</div>
<!-- ==================== Right Offcanvas End Here ==================== -->
