<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="icon" href="https://images.prismic.io/avonova/Zfr-rwmzsfHOGI25_LOGODE%CC%81FINITIFAVONOVA-200x200px-.png?auto=format,compress" />
        <link rel="shortcut icon" href="https://images.prismic.io/avonova/Zfr-rwmzsfHOGI25_LOGODE%CC%81FINITIFAVONOVA-200x200px-.png?auto=format,compress">

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/line-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/image-uploader.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">


        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}


        <title>{% block title %}Vente Immobilière Simplifiée - AVONOVA pour Notaires et Avocats{% endblock %}</title>
        {% block description %}
            <meta name="description" content="Solution Vente Immobilière - AVONOVA pour Notaires et Avocats. Simplifiez vos transactions immobilières dès maintenant." />
        {% endblock %}
        {% block keywords %}
            <meta name="keywords" content="AVONOVA, services immobiliers pour notaires, solutions de vente immobilière, optimisation de transactions immobilières, services aux avocats, gestion immobilière simplifiée." />
        {% endblock %}
        {% block canonical %}
            <link rel="canonical" href="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo }}">
        {% endblock %}


        {% block og %}
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Vente Immobilière Simplifiée - AVONOVA pour Notaires et Avocats" />
            <meta property="twitter:title" content="Vente Immobilière Simplifiée - AVONOVA pour Notaires et Avocats" />
            <meta property="twitter:description" content="AVONOVA offre une solution clé en main pour la vente de biens immobiliers. Maximisez l'efficacité de vos transactions sans affecter vos commissions. Gagnez du temps dès maintenant." />
            <meta property="og:url" content="avonova.fr" />
            <meta property="og:image" content="https://images.prismic.io/avonova/Zfr-rwmzsfHOGI25_LOGODE%CC%81FINITIFAVONOVA-200x200px-.png?auto=format,compress" />
            <meta property="twitter:image" content="https://images.prismic.io/avonova/Zfr-rwmzsfHOGI25_LOGODE%CC%81FINITIFAVONOVA-200x200px-.png?auto=format,compress" />
            <meta property="twitter:card" content="summary_large_image" />
        {% endblock %}


        <meta name="robots" content="index, follow">


        <script src="https://assets.usestyle.ai/seonajsplugin" defer id="seona-js-plugin"></script>
        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//matomo.criver.me/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '2']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <script src="https://tarteaucitron.io/load.js?domain=avonova.fr&uuid=cd55b6ce0cb6f065f72ca7c54f0e667b966fc2ea"></script>
        <!-- End Matomo Code -->
    </head>
    <body>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

        {% block body %}{% endblock %}

        <script defer src="{{ asset('assets/js/jquery-3.7.1.min.js') }}"></script>
        <script defer src="{{ asset('assets/js/boostrap.bundle.min.js') }}"></script>
        <script defer src="{{ asset('assets/js/magnific-popup.min.js') }}"></script>
        <script defer src="{{ asset('assets/js/slick.min.js') }}"></script>
        <script defer src="{{ asset('assets/js/counterup.min.js') }}"></script>
        <script defer src="{{ asset('assets/js/jquery.marquee.min.js') }}"></script>
        <script defer src="{{ asset('assets/js/image-uploader.min.js') }}"></script>
        <script defer src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
        <script defer src="{{ asset('assets/js/main.js') }}"></script>
    </body>
</html>
