{% extends 'base.html.twig' %}

{% block title %}Services de Vente Immobilière pour Notaires et Avocats | AVONOVA{% endblock %}
{% block description %}
    <meta name="description" content="
    Solution complète pour la vente immobilière. Estimation, publication d'annonces et optimisation des transactions pour professionnels du droit.
" />
{% endblock %}
        {% block keywords %}
            <meta name="keywords" content="Mise en vente immobilière, service complet immobilier, AVONOVA immobilier, assistance transactions immobilières, notaires, avocats, efficacité transactionnelle." />
        {% endblock %}

 {% block canonical %}
     <link rel="canonical" href="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo }}">
 {% endblock %}

{% block og %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Services de Vente Immobilière pour Notaires et Avocats | AVONOVA" />
    <meta property="twitter:title" content="Services de Vente Immobilière pour Notaires et Avocats | AVONOVA" />
    <meta property="twitter:description" content="Solution complète pour la vente immobilière. Estimation, publication d'annonces et optimisation des transactions pour professionnels du droit." />
    <meta property="og:url" content="avonova.fr/faq" />
    <meta property="og:image" content="https://images.prismic.io/avonova/Zfr-rwmzsfHOGI25_LOGODE%CC%81FINITIFAVONOVA-200x200px-.png?auto=format,compress" />
    <meta property="twitter:image" content="https://images.prismic.io/avonova/Zfr-rwmzsfHOGI25_LOGODE%CC%81FINITIFAVONOVA-200x200px-.png?auto=format,compress" />
    <meta property="twitter:card" content="summary_large_image" />
{% endblock %}

{% block body %}

    {{ include('_partials/preheader.html.twig') }}



    <main class="body-bg">
        {{ include('_partials/header.html.twig') }}

        <!-- ==================== Breadcrumb Start Here ==================== -->
        <section class="breadcrumb padding-y-120">
            <img src="{{ asset('assets/images/thumbs/breadcrumb-img.png') }}" alt="" class="breadcrumb__img">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="breadcrumb__wrapper">
                            <h1 class="breadcrumb__title"> FAQ</h1>
                            <ul class="breadcrumb__list">
                                <li class="breadcrumb__item"><a title="AVONOVA" href="{{ url('app_index') }}" class="breadcrumb__link"> <i class="las la-home"></i> Accueil</a> </li>
                                <li class="breadcrumb__item"><i class="fas fa-angle-right"></i></li>
                                <li class="breadcrumb__item"> <span class="breadcrumb__item-text"> FAQ </span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== Breadcrumb End Here ==================== -->

        <!-- ====================== Faq Section Start ======================= -->
        <section class="faq-two padding-y-120">
            <div class="container container-two">
                <div class="section-heading">
            <span class="section-heading__subtitle bg-gray-100">
                <span class="text-gradient fw-semibold">UNE QUESTION ?</span>
            </span>
                    <h2 class="section-heading__title">Retrouvez ici toutes les questions fréquemment posées</h2>
                </div>
                <div class="row gy-4">
                    <div class="col-lg-6">
                        <div class="common-accordion style-two accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Comment les notaires et avocats peuvent-ils suivre l'évolution de la mise en vente avec AVONOVA ?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                    <div class="accordion-body">
                                        <p class="accordion-body__desc font-18">
                                            Les notaires et avocats peuvent suivre l'évolution de la mise en vente avec AVONOVA grâce à un système de communication et de suivi rigoureux et transparent. AVONOVA tient régulièrement informés les notaires et les avocats des différentes étapes de la mise en vente des biens immobiliers à travers plusieurs canaux :
                                            Par téléphone au 01 89 70 85 15 : Les avocats et notaires peuvent nous contacter du lundi au vendredi de 9h à 18h sans interruption s’ils ont besoin de nous fournir des mises à jour importantes ou pour discuter de toute question urgente. C
                                            Par email (contact@avonova.fr) : Les notaires et avocats reçoivent des emails réguliers d'AVONOVA, les informant des progrès réalisés dans la vente du bien, des retours suite aux visites, et de toute autre information pertinente. Ces emails servent de trace écrite pour le suivi du dossier.

                                            L'objectif d'AVONOVA est de garantir que les notaires et avocats soient pleinement informés et impliqués dans le processus de vente, tout en leur épargnant les tâches administratives et logistiques, leur permettant ainsi de se concentrer sur leurs compétences clés.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Quel est le coût des services d'AVONOVA et comment est-il structuré ?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                    <div class="accordion-body">
                                        <p class="accordion-body__desc font-18">
                                            Le coût des services d'AVONOVA est conçu pour offrir une solution complète et professionnelle aux notaires et avocats mandataires immobiliers, facilitant ainsi la mise en vente des biens immobiliers. La prestation d'AVONOVA est proposée au tarif de 1.400 euros hors taxes (HT), englobant un ensemble de services essentiels pour la vente efficace d'un bien :
                                            L'estimation du bien : AVONOVA réalise une évaluation précise du bien pour en déterminer le prix de vente optimal, en tenant compte des dernières tendances du marché immobilier. Cette estimation vous est soumise pour validation.
                                            Les photos du bien prises par un professionnel : Nous mandatons un photographe professionnel pour capturer des images de haute qualité du bien, mettant en valeur ses atouts pour attirer les acheteurs potentiels.
                                            Le Diagnostic de Performance Énergétique (DPE) : Notre service inclut la réalisation du DPE, un diagnostic obligatoire en France, assurant ainsi la conformité du bien avec les normes en vigueur.
                                            La rédaction de l’annonce immobilière : Notre équipe rédige une annonce attractive et détaillée pour présenter le bien de manière optimale sur les plateformes de vente.
                                            Deux mois de diffusion de l’annonce immobilière : L'annonce est diffusée pendant deux mois sur des plateformes reconnues telles que SeLoger.com, Logic Immo, Meilleurs Agents et Leboncoin, assurant une visibilité maximale auprès des acheteurs potentiels.
                                            Deux journées complètes de visites avec un prestataire mandaté : Nous organisons deux journées de visites, gérées par un prestataire professionnel, pour permettre aux acheteurs potentiels de découvrir le bien.
                                            Le suivi de notre équipe sur la gestion de vos biens : Notre équipe assure un suivi rigoureux et personnalisé tout au long du processus de vente, vous tenant informé à chaque étape et répondant à toutes vos questions par téléphone ou par mail.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        Quelles sont les étapes de la prise en charge d'un bien immobilier par AVONOVA ?

                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" style="">
                                    <div class="accordion-body">
                                        <p class="accordion-body__desc font-18">
                                            Lorsque vous confiez à AVONOVA la prise en charge d'un bien immobilier suite à l'obtention d'un mandat de vente, nous mettons en œuvre un processus structuré et efficace pour assurer la vente du bien dans les meilleures conditions. Voici les étapes clés de notre intervention :
                                            Estimation du bien : Dès réception de votre mandat de vente, notre première étape consiste à réaliser une estimation précise du bien. Cette évaluation vous est soumise pour validation afin de garantir que le prix de vente proposé correspond à vos attentes et à la réalité du marché.
                                            Organisation de la séance photo avec un professionnel : Nous prenons en charge la recherche et l'engagement d'un photographe pour capturer des images de haute qualité du bien. Nous organisons la séance photo, en fixant la date directement avec le vendeur, pour minimiser les délais et assurer une présentation optimale du bien.
                                            Diagnostic de Performance Énergétique (DPE) : Nous sélectionnons et engageons un diagnostiqueur certifié pour réaliser le DPE, une étape obligatoire pour la mise en vente du bien. Comme pour la séance photo, nous coordonnons la venue du diagnostiqueur en fixant la date avec le vendeur.
                                            Rédaction et diffusion de l'annonce : Suite à la récupération des photos et des informations nécessaires, nous rédigeons une annonce immobilière attrayante et complète. L'annonce est ensuite rapidement diffusée sur les plateformes de référence telles que Leboncoin, Logic Immo, Meilleurs Agents et SeLoger.com, garantissant une visibilité maximale.
                                            Gestion des contacts avec les acquéreurs potentiels : Nos coordonnées figurent sur l'annonce pour que les intéressés puissent directement nous contacter. Cela permet une gestion centralisée des demandes et une réactivité accrue dans le processus de vente.
                                            Organisation des visites : Un mandataire ou conseiller immobilier se rend sur place pour réaliser deux journées complètes de visites. Cela permet aux acquéreurs potentiels de découvrir le bien et d'exprimer leur intérêt, tout en étant accompagnés par un professionnel.
                                            En confiant votre bien à AVONOVA, vous bénéficiez d'un service complet et intégré, assurant une prise en charge experte à chaque étape du processus de vente. Notre objectif est de vous libérer des contraintes opérationnelles tout en maximisant les chances de vendre votre bien rapidement et au meilleur prix.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        AVONOVA prend en charge deux mois de diffusion des annonces immobilières. Que se passe-t-il quand le délai est passé ?

                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="accordion-body__desc font-18">
                                            Lorsque vous confiez à AVONOVA la diffusion des annonces immobilières, nous prenons en charge leur parution sur les plateformes sélectionnées pour une période de deux mois. Cette durée est généralement suffisante pour atteindre un large éventail d'acheteurs potentiels et susciter l'intérêt pour le bien mis en vente.
                                            Une fois ce délai de deux mois écoulé, si le bien n'est pas encore vendu et que vous souhaitez continuer la diffusion de l'annonce, les frais associés à cette prolongation ne sont plus pris en charge par AVONOVA. À ce stade, une refacturation est mise en place pour le notaire ou l'avocat. Cette approche vous permet de garder le contrôle sur la gestion et la durée de la publicité pour le bien.
                                            Il est important de noter que le notaire ou l'avocat a la possibilité de répercuter ces frais supplémentaires sur son client. Cette démarche devrait être communiquée et discutée avec le client pour assurer une transparence et une compréhension mutuelle des coûts associés à la vente prolongée du bien.
                                            En somme, AVONOVA s'engage à fournir une visibilité optimale à votre bien immobilier pendant les deux premiers mois, après quoi nous vous offrons la flexibilité de continuer la promotion du bien, avec des frais de diffusion qui seront clairement définis et communiqués pour une gestion transparente et efficace.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Comment AVONOVA gère les visites des biens immobiliers ?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="accordion-body__desc font-18">

                                            AVONOVA gère les visites des biens immobiliers avec un souci du détail et une organisation rigoureuse pour maximiser les chances de vente tout en offrant une expérience positive aux acquéreurs potentiels. Voici comment nous procédons :
                                            Planification des visites : Une fois l'annonce diffusée et les premières demandes d'intérêt reçues, AVONOVA organise deux journées complètes de visites. Nous coordonnons ces journées en fonction de la disponibilité du vendeur et des potentiels acquéreurs, en veillant à regrouper les visites de manière efficace.
                                            Mandat d'un conseiller immobilier : Pour les visites, AVONOVA fait appel à un mandataire ou conseiller immobilier expérimenté. Ce professionnel est chargé de présenter le bien aux intéressés, de répondre à leurs questions et de mettre en avant les atouts du bien pour encourager une prise de décision rapide.
                                            Préparation des visites : Avant les visites, le conseiller immobilier se familiarise en détail avec le bien et ses spécificités pour fournir des informations précises et complètes aux visiteurs. Il s'assure également que le bien est présenté dans les meilleures conditions.
                                            Accueil et accompagnement des visiteurs : Durant les visites, le conseiller accueille les acquéreurs potentiels, les guide à travers le bien, et leur fournit des détails pertinents tout en soulignant les points forts et les possibilités du bien. Il répond également à toutes les questions pour éclaircir les doutes et favoriser une éventuelle offre d'achat.
                                            Suivi post-visite : Après les visites, un suivi est effectué avec les visiteurs pour recueillir leurs impressions, répondre à d'éventuelles questions supplémentaires et encourager les démarches d'achat. Ce suivi permet également de recueillir des retours précieux pour ajuster la stratégie de vente si nécessaire.
                                            Communication avec le client : AVONOVA tient le notaire ou l'avocat informé des résultats des visites, offrant une transparence totale sur le processus de vente et permettant d'adapter les stratégies si besoin.

                                            Cette gestion méticuleuse des visites par AVONOVA vise à optimiser chaque opportunité de vente, en assurant une présentation professionnelle du bien et en facilitant l'engagement des acquéreurs potentiels.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        En tant que notaire ou avocat, ai-je le droit de sous-traiter la mise en vente des biens immobiliers qui me sont confiés ?

                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="accordion-body__desc font-18">
                                            Oui, Maître ! Que vous soyez notaire ou avocat.

                                            A la condition unique que ce prestataire ne dispose pas de la carte T immobilière. En résumé, vous ne pouvez pas sous-traiter à un agent immobilier.

                                            Ça tombe à pic : Avonova ne dispose pas de la carte T et peut donc exercer pour vous en respectant les règles déontologiques imposées à votre profession. Nous ne faisons pas non plus appel à d’éventuels prestataires disposant de la carte T immobilière.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ps-lg-4 d-lg-block d-none">
                        <div class="faq-two-thumb">
                            <img src="https://images.prismic.io/avonova/ZfsTcAmzsfHOGJF-_appartinte%CC%81rieursalon.png?auto=format,compress" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====================== Faq Section End ======================= -->

        {{ include('_partials/footer.html.twig') }}

    </main>

{% endblock %}
