{% extends 'base.html.twig' %}

{% block title %}Vente Immobilière Simplifiée - AVONOVA pour Notaires et Avocats{% endblock %}
{% block description %}
    <meta name="description" content="Solution Vente Immobilière - AVONOVA pour Notaires et Avocats. Simplifiez vos transactions immobilières dès maintenant." />
{% endblock %}
        {% block keywords %}
            <meta name="keywords" content="AVONOVA, services immobiliers pour notaires, solutions de vente immobilière, optimisation de transactions immobilières, services aux avocats, gestion immobilière simplifiée." />
        {% endblock %}


        {% block og %}
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Vente Immobilière Simplifiée - AVONOVA pour Notaires et Avocats" />
            <meta property="twitter:title" content="Vente Immobilière Simplifiée - AVONOVA pour Notaires et Avocats" />
            <meta property="twitter:description" content="AVONOVA offre une solution clé en main pour la vente de biens immobiliers. Maximisez l'efficacité de vos transactions sans affecter vos commissions. Gagnez du temps dès maintenant." />
            <meta property="og:url" content="avonova.fr" />
            <meta property="og:image" content="https://images.prismic.io/avonova/Zfr-rwmzsfHOGI25_LOGODE%CC%81FINITIFAVONOVA-200x200px-.png?auto=format,compress" />
            <meta property="twitter:image" content="https://images.prismic.io/avonova/Zfr-rwmzsfHOGI25_LOGODE%CC%81FINITIFAVONOVA-200x200px-.png?auto=format,compress" />
            <meta property="twitter:card" content="summary_large_image" />
        {% endblock %}

 {% block canonical %}
     <link rel="canonical" href="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo }}">
 {% endblock %}



{% block body %}

    {{ include('_partials/preheader.html.twig') }}



    <main class="body-bg">
        {{ include('_partials/header.html.twig') }}

        <!--========================== Banner Section Start ==========================-->
        <section class="banner">
            <div class="container container-two">
                <div class="position-relative">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-inner position-relative">
                                <div class="banner-content">
                                    <span class="banner-content__subtitle text-uppercase font-14"></span>
                                    <h1 class="banner-content__title">Vos transactions immobilières n’ont jamais <span class="text-gradient">été aussi simples</span> </h1>
                                    <p class="banner-content__desc font-18">
                                        Avonova vous facilite la vie et prend en charge la mise en vente de biens immobiliers qui vous ont été confiés.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-0 order-1">
                            <div class="banner-thumb">
                                <img src="https://images.prismic.io/avonova/ZfsR7QmzsfHOGJFa_immeublemoderne.png?auto=format,compress&fit=max&w=1024" alt=""
                                     srcset="https://images.prismic.io/avonova/ZfsR7QmzsfHOGJFa_immeublemoderne.png?auto=format,compress&fit=max&w=320 320w,
             https://images.prismic.io/avonova/ZfsR7QmzsfHOGJFa_immeublemoderne.png?auto=format,compress&fit=max&w=480 480w,
             https://images.prismic.io/avonova/ZfsR7QmzsfHOGJFa_immeublemoderne.png?auto=format,compress&fit=max&w=800 800w"
                                     sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px"
                                     loading="lazy">
                                <img src="https://images.prismic.io/avonova/ZfsTFgmzsfHOGJFz_trianglerougeavonova.png?auto=format,compress" alt="" loading="lazy" class="shape-element one">
                                <img src="https://images.prismic.io/avonova/ZfsTFAmzsfHOGJFx_cerclerougeavonova.png?auto=format,compress" alt="" loading="lazy" class="shape-element two">
                                <img src="https://images.prismic.io/avonova/ZfsTFQmzsfHOGJFy_demicerclerougeavonova.png?auto=format,compress" alt="" loading="lazy" class="shape-element three">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <ul class="common-tab nav nav-pills" id="pills-tab" role="tablist">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--========================== Banner Section End ==========================-->

        <!-- ======================== About Section Start ========================== -->
        <section class="about padding-y-120">
            <div class="container container-two">
                <div class="row gy-4 align-items-center">
                    <div class="col-lg-6">
                        <div class="about-thumb">
                            <img src="https://images.prismic.io/avonova/ZfsR8AmzsfHOGJFf_PHOTOPAGEACCUEIL-590x590px-.png?auto=format,compress"  loading="lazy" alt="">
{#                            <div class="client-statistics flx-align">#}
{#                        <span class="client-statistics__icon">#}
{#                            <i class="fas fa-users text-gradient"></i>#}
{#                        </span>#}
{#                                <div class="client-statistics__content">#}
{#                                    <h5 class="client-statistics__number statisticsCounter">4,000+</h5>#}
{#                                    <span class="client-statistics__text fs-18">Satisfied Clients</span>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-heading style-left">
                                <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">À propos</span> </span>
                                <h2 class="section-heading__title">Vous êtes notaire ou avocat ?</h2>
                                <p class="section-heading__desc">
                                    AVONOVA vous apporte une solution clé en main pour la mise en vente des biens immobiliers qui vous sont confiés.

                                    Notre équipe vous permet de gagner un temps précieux et prend en charge la mise en vente des biens immobiliers qui vous ont été confiés.
                                </p>
                            </div>
                            <div class="about-button">
                                <a title="Contact" href="{{ url('app_contact') }}" class="btn btn-main">En savoir plus <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======================== About Section End ========================== -->
        <!-- ======================= Property Section Start ================================== -->
        <section class="property-type padding-y-120">
            <div class="container container-two">
                <div class="section-heading">
                    <span class="section-heading__subtitle bg-gray-100"> <span class="text-gradient fw-semibold">Gagnez du temps </span> </span>
                    <h2 class="section-heading__title">Faites-vous aider pour la mise en vente de biens immobiliers </h2>
                </div>
                <div class="row gy-4">
                    <div class="col-lg-4 col-sm-6 col-xs-6">
                        <div class="property-type-item">
        <span class="property-type-item__icon">
            <img src="assets/images/icons/property-type-icon1.svg" alt="">
        </span>
                            <h6 class="property-type-item__title">Rendez vos transactions immobilières encore plus lucratives. </h6>
                            <p class="property-type-item__desc font-18">
                                AVONOVA ne touchera jamais à la commission prévue entre vous et votre client. Nous vous facturons une prestation fixe que vous pouvez répercuter sur vos honoraires.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-6">
                        <div class="property-type-item">
        <span class="property-type-item__icon">
            <img src="assets/images/icons/property-type-icon2.svg" alt="">
        </span>
                            <h6 class="property-type-item__title">Gardez de bonnes relations avec vos partenaires de longue date. </h6>
                            <p class="property-type-item__desc font-18">Vous n’êtes pas visible sur les annonces immobilières. Seules les coordonnées d’AVONOVA apparaissent.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-6">
                        <div class="property-type-item">
        <span class="property-type-item__icon">
            <img src="assets/images/icons/property-type-icon3.svg" alt="">
        </span>
                            <h6 class="property-type-item__title"> Gagnez un temps précieux dans vos journées déjà bien chargées. </h6>
                            <p class="property-type-item__desc font-18">Nous estimons que la mise en vente d’un bien immobilier prend plus d’une vingtaine d’heures cumulées par bien immobilier. Économisez ce temps grâce à notre solution clé en main.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======================= Property Section End ================================== -->


        <!-- ========================= Portfolio Section Start ==================== -->
        <section class="portfolio padding-t-120 padding-b-60">
            <div class="section-heading">
                <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">Comment ça marche</span> </span>
                <h2 class="section-heading__title">Notre process pour une collaboration réussie</h2>
                <p class="section-heading__desc">L’équipe d’AVONOVA se charge de tout à votre place. De l’estimation à la publication des annonces immobilières, sans oublier le diagnostic DPE et les visites. Vendez sans vous déplacer !</p>
            </div>
            <div class="portfolio-wrapper">
                <div class="portfolio-item">
                    <div class="portfolio-item__thumb">
                        <img src="https://images.prismic.io/avonova/ZfsQswmzsfHOGJEu_13.png?auto=format,compress" alt="" loading="lazy" class="cover-img">
                    </div>
                    <div class="portfolio-item__content">
                        <a href="#" class="btn btn-icon">
            <span class="text-gradient line-height-0">
                <i class="fas fa-arrow-right"></i>
            </span>
                        </a>
                        <div class="portfolio-item__inner">
                            <h6 class="portfolio-item__title">
                                <a href="" class="link">1. Estimation
                                    du bien immobilier</a>
                            </h6>
                            <p class="portfolio-item__desc">Vous venez de récupérer un mandat de vente... Nous nous chargeons de l’estimation qui vous sera soumise pour validation.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item__thumb">
                        <img src="https://images.prismic.io/avonova/ZfsQtAmzsfHOGJEv_14.png?auto=format,compress" alt="" loading="lazy" class="cover-img">
                    </div>
                    <div class="portfolio-item__content">
                        <a href="#" class="btn btn-icon">
            <span class="text-gradient line-height-0">
                <i class="fas fa-arrow-right"></i>
            </span>
                        </a>
                        <div class="portfolio-item__inner">
                            <h6 class="portfolio-item__title">
                                <a href="#" class="link">2. Séance photo</a>
                            </h6>
                            <p class="portfolio-item__desc">Nous engageons un photographe professionnel pour organiser la séance photo à votre place. La date est fixée par nos soins avec le vendeur.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item__thumb">
                        <img src="https://images.prismic.io/avonova/ZfsQtQmzsfHOGJEw_15.png?auto=format,compress" loading="lazy" alt="" class="cover-img">
                    </div>
                    <div class="portfolio-item__content">
                        <a href="#" class="btn btn-icon">
            <span class="text-gradient line-height-0">
                <i class="fas fa-arrow-right"></i>
            </span>
                        </a>
                        <div class="portfolio-item__inner">
                            <h6 class="portfolio-item__title">
                                <a href="#" class="link">3. Diagnostic DPE</a>
                            </h6>
                            <p class="portfolio-item__desc">Nous engageons un diagnostiqueur pour le DPE. La date de venue du diagnostiqueur est fixée par nos soins avec le vendeur.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item__thumb">
                        <img src="https://images.prismic.io/avonova/ZfsQtgmzsfHOGJEx_16.png?auto=format,compress" alt="" loading="lazy" class="cover-img">
                    </div>
                    <div class="portfolio-item__content">
                        <a href="#" class="btn btn-icon">
            <span class="text-gradient line-height-0">
                <i class="fas fa-arrow-right"></i>
            </span>
                        </a>
                        <div class="portfolio-item__inner">
                            <h6 class="portfolio-item__title">
                                <a href="#" class="link">4. Publication
                                    de l‘annonce</a>
                            </h6>
                            <p class="portfolio-item__desc">L’annonce est rédigée et diffusée par nos soins sur les plateformes : Leboncoin, Logic Immo, Meilleurs Agents et SeLoger.com.</p>
                        </div>
                    </div>
                </div>

                <div class="portfolio-item active">
                    <div class="portfolio-item__thumb">
                        <img src="https://images.prismic.io/avonova/ZfsQtwmzsfHOGJEy_17.png?auto=format,compress" loading="lazy" alt="" class="cover-img">
                    </div>
                    <div class="portfolio-item__content">
                        <a href="#" class="btn btn-icon">
            <span class="text-gradient line-height-0">
                <i class="fas fa-arrow-right"></i>
            </span>
                        </a>
                        <div class="portfolio-item__inner">
                            <h6 class="portfolio-item__title">
                                <a href="#" class="link">5. Organisation
                                    des visites</a>
                            </h6>
                            <p class="portfolio-item__desc">Un mandataire ou conseiller immobilier se rend sur place pour deux journées complètes de visites avec les acquéreurs potentiels.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-button col-12 d-flex flx-center">
                <a title="Avonova plaquette" href="https://avonova.cdn.prismic.io/avonova/ZfszqgmzsfHOGJUo_AVONOVAPLAQUETTE-1-.pdf" target="_blank" class="btn btn-main">Notre plaquette <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
            </div>

        </section>
        <!-- ========================= Portfolio Section End ==================== -->

        <!-- ========================= Team Section Start ============================= -->
        <section class="team padding-y-60">
            <div class="container container-two">
                <div class="section-heading style-left style-flex flx-between align-items-end gap-3">
                    <div class="section-heading__inner">
                        <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">c'est nous</span> </span>
                        <h2 class="section-heading__title">L'équipe d'AVONOVA</h2>
                    </div>
                </div>
                <div class="row gy-4">
                    <div class="col-lg-4 col-sm-6 col-xs-6">
                        <div class="team-item">
                            <div class="team-item__thumb">
                                <img src="https://images.prismic.io/avonova/ZfsQuQmzsfHOGJE0_19.png?auto=format,compress" loading="lazy" alt="" class="cover-img">
                            </div>
                            <div class="team-item__content flx-between flex-nowrap">
                                <div>
                                    <h6 class="team-item__name mb-1 text-white">Romain BAYETTE</h6>
                                    <span class="team-item__designation font-12 text-white fw-light"></span>
                                </div>
                                <div class="social-share">
                                    <button type="button" class="social-share__button"><i class="fas fa-share-alt"></i></button>
                                    <ul class="social-share-list">
                                        <li class="social-share-list__item">
                                            <a title="Romain B B0b676134" href="https://www.linkedin.com/in/romain-b-b0b676134/" target="_blank" class="social-share-list__link"><i class="fab fa-linkedin-in"></i></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-6">
                        <div class="team-item">
                            <div class="team-item__thumb">
                                <img src="https://images.prismic.io/avonova/ZfsQuAmzsfHOGJEz_18.png?auto=format,compress" loading="lazy" alt="" class="cover-img">
                            </div>
                            <div class="team-item__content flx-between flex-nowrap">
                                <div>
                                    <h6 class="team-item__name mb-1 text-white">Romain BALSA</h6>
                                    <span class="team-item__designation font-12 text-white fw-light"></span>
                                </div>
                                <div class="social-share">
                                    <button type="button" class="social-share__button"><i class="fas fa-share-alt"></i></button>
                                    <ul class="social-share-list">
                                        <li class="social-share-list__item">
                                            <a title="Romainbalsa" href="https://www.linkedin.com/in/romainbalsa/" target="_blank" class="social-share-list__link"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-6">
                        <div class="team-item">
                            <div class="team-item__thumb">
                                <img src="https://images.prismic.io/avonova/ZfsQugmzsfHOGJE1_20.png?auto=format,compress" loading="lazy" alt="" class="cover-img">
                            </div>
                            <div class="team-item__content flx-between flex-nowrap">
                                <div>
                                    <h6 class="team-item__name mb-1 text-white">Matilde ABIDI</h6>
                                    <span class="team-item__designation font-12 text-white fw-light"></span>
                                </div>
                                <div class="social-share">
                                    <button type="button" class="social-share__button"><i class="fas fa-share-alt"></i></button>
                                    <ul class="social-share-list">
                                        <li class="social-share-list__item">
                                            <a title="Matilde Abidi" href="https://www.linkedin.com/in/matilde-abidi/" target="_blank" class="social-share-list__link"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========================= Team Section End ============================= -->

        {{ include('_partials/footer.html.twig') }}

    </main>

{% endblock %}
